version: '3.8'

services:
  web:
    build: ./web
    container_name: waitlist_web
    ports:
      - "80:5000"  # Expose Flask port 5000 to EC2 port 80
    environment:
      - DATABASE_URL=mysql+pymysql://root:rootpassword@db:3306/waitlist_db
    depends_on:
      - db

  db:
    image: mysql:8.0
    container_name: waitlist_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: waitlist_db
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql

volumes:
  db_data:
