services:
  db:
    image: mysql:8.0
    container_name: jenkins_waitlist_db
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: waitlist_db
    ports:
      - "3307:3306"
    volumes:
      - jenkins_db_data:/var/lib/mysql
    networks:
      - jenkins_waitlist_network

  web:
    image: python:3.11-slim
    container_name: jenkins_waitlist_web
    working_dir: /app
    command: bash -c "apt-get update && apt-get install -y curl && pip install -r requirements.txt && python app.py"
    ports:
      - "5001:5000"
    volumes:
      - /var/lib/jenkins/workspace/catalysm-waitlist-build/web:/app
    depends_on:
      - db
    networks:
      - jenkins_waitlist_network
    environment:
      DATABASE_URL: mysql+pymysql://root:rootpassword@db:3306/waitlist_db

volumes:
  jenkins_db_data:

networks:
  jenkins_waitlist_network:
